.venv/
.idea/
__pycache__/
*.py[cod]
.env

logs/
data/qdrant/
data/processed/
data/eval/*_results.json
data/user_documents/*
!data/user_documents/.gitkeep

.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
release/
packaging/cache/

main — kopia.py
README.txt
załozenia.txt

main * kopia.py
za*ozenia.txt
