.venv/
.idea/
__pycache__/
*.py[cod]
.env

logs/
data/qdrant/
data/processed/
data/eval/*_results.json

.pytest_cache/
.mypy_cache/
.ruff_cache/

main — kopia.py
README.txt
za³ozenia.txt

main * kopia.py
za*ozenia.txt
